
.container {
    flex:1;
    flex-direction: column;
    /* max-width: 100%; */
    justify-content: center;
    align-items: center;
    background: #FFF;
  }
  
  .header {
    width: 100%;
    height: 350px;
    background-image: url("https://i.ibb.co/bsKqRpL/Untitled-design-1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* min-height: 100vh; */
  }
  
  .content {
    /* padding: 10px; */
    text-align: center;
    width: 100%;
  }
  
  .bullets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
   
  }
  .bullet2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* padding: 10px; */
  }
  .bullet-item {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    /* width: 300; */
  }
  
  .bullet-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .download-image {
    width: 250px;
    height: auto;
  }

  .download{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  .down{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
.custom-h3{
    color: black;
    /* text-align: left; */
    /* align-self: flex-start; */
}

.custom-h4{
  color: black;
  text-align: center;
}
  
  /* Tablet Frame */
  /* src/components/ImageSlider.css */
.image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
/* src/components/ImageSlider.css */
.tablet-frame {
    border: 10px solid #333;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 650px; /* Fixed width of the frame */
    height: 500px; /* Fixed height of the frame */
    position: relative;
    margin: 20px;
  }
  
  .tablet-frame img {
    width: 100%; /* Set the width to 100% to fit within the frame */
    height: 100%; /* Set the height to 100% to fit within the frame */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .tablet-frame img.active {
    opacity: 1;
  }
  
  
  
  .slider-controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    background-color: transparent; /* Set the background to transparent */
    color: #ddd; /* Customize button text color */
    border: none;
    border-radius: 50%; /* Make the button round */
    border-width: 0cap;
    cursor: pointer;
    margin: 10px;
    font-size: 24px; /* Adjust the font size as needed */
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }
  
  button:hover {
    background-color: transparent; 
    border-width: 0cm;
  }
  .faq-section {
    margin: 2em 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5em;
  }
  
  .faq-question h3 {
    font-size: 1.5em;
    /* margin-bottom: 1em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .faq-question h3 span {
    font-size: 1.5em;
  }
  
  .faq-question p {
    font-size: 1.1em;
    color: #555;
    display: none;
    /* margin-top: 1em; */
  }
  
  .faq-question p.open {
    display: block;
    align-self: flex-start;
    text-align: left;
  }
  
  
  
  

/* Media query for smaller screens */
@media (max-width: 768px) {

body{
  overflow-x: hidden;
}
  .custom-h3 {
      color: black;
      text-align: center;
  }

  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* overflow: hidden; */
  }

  .header {
      /* width: 100%; */
      height: 150px;
      font-size: 18px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .faq-question {
    margin-bottom: 1em;
    text-align:left;
    align-content: flex-start;
  }
  
  .faq-question h3 {
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .faq-question h3::after {
    /* content: '-'; */
    display: inline-block;
    text-align: left;
    align-self: flex-start;
    margin-left: 0.5em;
    transition: transform 0.3s;
  }
  
  .faq-question.open h3::after {
    transform: rotate(45deg);
  }
  
  .faq-question p {
    font-size: 1em;
    color: #555;
    display: none;
    margin-top: 0.5em;
  }
  
  .faq-question.open p {
    display: block;
  }
  

  .tablet-frame {
    border: 10px solid #333;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 300px; /* Fixed width of the frame */
    height: 300px; /* Fixed height of the frame */
    position: relative;
    margin: 20px;
  }

  .tablet-frame img {
    width: 100%; /* Set the width to 100% to fit within the frame */
    height: 100%; /* Set the height to 100% to fit within the frame */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .tablet-frame img.active {
    opacity: 1;
  }

  .bullet-item,
  .download {
      display: none;
  }

  .bullets {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .bullets .bullet-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 100%; /* Limit the width to prevent text overflow */
    /* word-wrap: break-word; Wrap long words to the next line */
    margin: 0px; /* Add spacing between bullet items */
}

  .download-image {
      width: 250px;
      height: auto;
  }

  .download {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 50px;
  }
}


  
  