.container {
    /* max-width: 100%; */
    padding: 0px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
   /* margin: 20px; */

}

header {
    text-align: center;
}

h1 {
    font-size: 24px;
}

section {
    margin: 10px;
    margin-bottom: 30px;
}

h2 {
    color: black;
    font-size: 20px;
}
p{
    color: black;
    text-align: center;
    display: inline; 
    max-width: 60%; /* Limit the width to prevent text overflow */
    word-wrap: break-word; 
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Reduce padding for smaller screens */
        overflow-x: hidden; 
    }

    h1 {
        font-size: 20px; /* Adjust the font size for smaller screens */
    }

    h2 {
        font-size: 18px; /* Adjust the font size for smaller screens */
    }

    p {
        /* text-align: center;  */
        display: inline; /* Make the <p> text appear inline */
        max-width: 60%; /* Limit the width to prevent text overflow */
        word-wrap: break-word; /* Wrap long words to the next line */
        margin: 20px; /* Add spacing between bullet items */
        align-self: center;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
       /* margin: 20px; */
    
    }
}